In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2   The Spider and the Fly  1949
3                  Country  2000
4               Gaiking II  2011

In [122]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [6]:
titles.shape

(236963, 2)

In [ ]:
#236,963 movies are listed in the titles df

### What are the earliest two films listed in the titles dataframe?

In [14]:
titles.sort_values("year").head()

                                                 title  year
181244                                      Miss Jerry  1894
219511                              The Startled Lover  1898
126972  Reproduction of the Corbett and Jeffries Fight  1899
96791                         Trouble in Hogan's Alley  1900
13864                             Family Troubles (II)  1900

The two earliest films in the IMDB database titles df are Miss Jerry & The Startled Lover

### How many movies have the title "Hamlet"?

In [28]:
titles[titles["title"] == "Hamlet"].count()

title    20
year     20
dtype: int64

20 movies in the titles dataframe have the title "Hamlet"

### How many movies are titled "North by Northwest"?

In [30]:
titles[titles["title"] == "North by Northwest"].count()

title    1
year     1
dtype: int64

Just one movie called "North by Northwest" is found in titles.

### When was the first movie titled "Hamlet" made?

In [151]:
titles[titles.title.str.startswith("Hamlet")].sort_values('year')

                                title  year
47662                          Hamlet  1910
214027                         Hamlet  1911
169711                         Hamlet  1913
100423                         Hamlet  1921
6120                           Hamlet  1948
130927                         Hamlet  1954
186530                         Hamlet  1964
231663                    Hamlet (II)  1964
125141                         Hamlet  1969
225855                         Hamlet  1973
93892                          Hamlet  1976
96138                          Hamlet  1987
116675         Hamlet liikemaailmassa  1987
7823        Hamlet: Prince of Denmark  1989
46261                          Hamlet  1990
205251                         Hamlet  1996
17735       Hamlet, Prince of Denmark  1997
96341                          Hamlet  2000
228066         Hamlet in the Hamptons  2002
37876                        Hamlet_X  2003
81273                        Hamlet X  2004
8749                      Hamlet (II)  2005
45594                    Hamlet (III)  2007
166693                    Hamlet (II)  2007
175828      Hamlet the Vampire Slayer  2008
99944                        Hamlet 2  2008
179548                         Hamlet  2009
104905                         Hamlet  2011
15466                  Hamlet Unbound  2012
176687                  Hamlet A.D.D.  2014
228013                         Hamlet  2014
9046                      Hamlet (II)  2015
172297                         Hamlet  2015
96473                  Hamlet's Ghost  2015
40025        Hamlet, Son of a Kingpin  2015
9181                   Hamlet. Comedy  2016
183315                         Hamlet  2016
111479                  Hamlet Frezer  2016
50279                          Hamlet  2017
15486   Hamlet: The Fall of a Sparrow  2017
30514                     Hamlet (II)  2017

Sort by the index value 'year' to find that Hamlet was first produced in 1910.

### List all of the "Treasure Island" movies from earliest to most recent.

In [153]:
titles[titles.title.str.startswith("Treasure Island")].sort_values("year")

                                                    title  year
210078                                    Treasure Island  1918
52304                                     Treasure Island  1920
194785                                    Treasure Island  1934
98757                                     Treasure Island  1950
91243                                     Treasure Island  1972
113501                                    Treasure Island  1973
209441                                    Treasure Island  1985
104343                               Treasure Island (II)  1999
182863                                    Treasure Island  1999
40975   Treasure Island Kids: The Battle of Treasure I...  2006
184002  Treasure Island Kids: The Mystery of Treasure ...  2006
228049  Treasure Island Kids: The Monster of Treasure ...  2006

### How many movies were made in the year 1950?

In [52]:
titles[titles['year'] == 1950].count()

title    1100
year     1100
dtype: int64

### How many movies were made in the year 1960?

In [154]:
titles[titles['year'] == 1960].head()

                        title  year
327             The Challenge  1960
451   Dos hijos desobedientes  1960
874          Pretty Boy Floyd  1960
903         Caught in the Net  1960
1013      Un militare e mezzo  1960

In [65]:
type(titles['year'][1])

numpy.int64

### How many movies were made from 1950 through 1959?

In [78]:
fiftiesmovies = titles[(titles.year >= 1950) & (titles.year <= 1959)].sort_values('year')

In [79]:
fiftiesmovies.head()

                           title  year
161571              Umi no G-men  1950
28568      Cuando acaba la noche  1950
108758              Paid in Full  1950
108769             Lilli Marlene  1950
108804  The Toast of New Orleans  1950

In [80]:
fiftiesmovies.tail()

                              title  year
116742                        Libel  1959
182859  Babette s'en va-t-en guerre  1959
56162           Die ying hong li ji  1959
55531                   Matir Pahar  1959
178896         Due selvaggi a corte  1959

### In what years has a movie titled "Batman" been released?

In [97]:
batman = titles[titles['title'] == "Batman"].sort_values("year")

In [102]:
batman.year.unique

<bound method Series.unique of 76076    1943
57143    1989
Name: year, dtype: int64>

### How many roles were there in the movie "Inception"?

In [103]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [108]:
cast[cast['title'] == "Inception"].count()

title        78
year         78
name         78
type         78
character    78
n            51
dtype: int64

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [123]:
inception = cast[cast['title'] == "Inception"]

In [147]:
inception["character"].count() - inception['n'].count()

27

In [166]:
i = inception[inception.n.isnull()]
i.name.count()

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [167]:
i2 = inception[inception.n.notnull()]

In [169]:
i2.name.count()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [170]:
nbnw = cast[cast['title'] == "North by Northwest"]

In [175]:
nofnbnw = nbnw[nbnw.n.notnull()]

In [177]:
nofnbnw.sort_values('n')

,title,year,name,type,character,n
857929,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3435119,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1434046,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3089876,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
351086,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2986128,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1668463,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1254963,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2407845,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1782606,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
655417,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2258845,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
457430,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1484605,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
203001,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1362713,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [189]:
sleuth = cast[(cast.title == "Sleuth") & (cast.year == 1972)]

In [193]:
sleuth.sort_values('n')

,title,year,name,type,character,n
1678373,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
321514,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
368059,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1442187,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2675483,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1425713,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [194]:
sleuth2 = cast[(cast.title == "Sleuth") & (cast.year == 2007)]

In [195]:
sleuth2.sort_values('n')

          title  year                 name     type          character    n
321515   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1273030  Sleuth  2007             Jude Law    actor               Milo  2.0
1777235  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
255813   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
368060   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2675482  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3293849  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [196]:
ham = cast[(cast.title == "Hamlet") & (cast.year == 1921)]

In [201]:
ham.count()

title        9
year         9
name         9
type         9
character    9
n            9
dtype: int64

### How many roles were credited in Branagh’s 1996 Hamlet?

In [202]:
ham2 = cast[(cast.title == "Hamlet") & (cast.year == 1996)]

In [204]:
ham2.name.count()

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [205]:
ham3 = cast[cast.title.str.startswith("Hamlet")]

In [210]:
ham3.name.count()

746

In [212]:
ham3

,title,year,name,type,character,n
1679,Hamlet,1996,Riz Abbasi,actor,Attendant to Claudius,1.0
6617,"Hamlet, Prince of Denmark",1997,Ernest Abuba,actor,The King,NaN
7660,Hamlet,1921,Fritz Achterberg,actor,"Fortinbras,",9.0
11545,Hamlet,2009,Hayden Adams,actor,Laertes,7.0
11546,Hamlet,2009,Hayden Adams,actor,Player,7.0
12838,Hamlet 2,2008,Valerie Adams,actor,Teacher,NaN
14248,Hamlet,1913,Eric Adeney,actor,Reynaldo,14.0
15852,Hamlet 2,2008,Evan Adrian,actor,Danny the Waiter,24.0
16467,Hamlet,2000,Casey Affleck,actor,Fortinbras,15.0
19580,Hamlet: Prince of Denmark,1989,Kabir Ahamed,actor,"Hamlet, Prince of Denmark",NaN
25818,Hamlet (II),1964,Michael Alaimo,actor,Player #3,NaN
26681,Hamlet (II),2017,Dimitri Alavidze,actor,Claudius,NaN
27931,Hamlet A.D.D.,2014,Logan Albert,actor,Lord Logan,NaN
33718,Hamlet,1964,Hugh Alexander,actor,Cornelius,NaN
33719,Hamlet,1964,Hugh Alexander,actor,Second Gravedigger,NaN
33720,Hamlet,1964,Hugh Alexander,actor,English Ambassador,NaN
37938,Hamlet_X,2003,Boris Aljinovic,actor,Rosencrantz,NaN
53742,Hamlet,1913,Richard Andean,actor,Second Player,16.0
57657,Hamlet 2,2008,Todd Anderson,actor,Redneck Parent,36.0
60218,Hamlet,2017,Luing Andrews,actor,Bernardo,NaN
63706,Hamlet,1990,Christien Anholt,actor,Marcellus,14.0
76642,Hamlet,1969,Ben Aris,actor,Rosencrantz,8.0
80947,Hamlet (II),2015,Brandon Arnold,actor,Hamlet Senior,NaN
81840,Hamlet,2015,Thomas (II) Arnold,actor,Horatio,5.0
82246,Hamlet_X,2003,Hendrik Arnst,actor,Laertes #2,NaN
83167,Hamlet 2,2008,David Arquette,actor,Gary,11.0
84353,"Hamlet, Prince of Denmark",1997,Don Arrup,actor,Polonius,NaN
91507,Hamlet 2,2008,Skylar Astin,actor,Rand Posin,4.0
94225,Hamlet,1996,Richard Attenborough,actor,English Ambassador,2.0
96190,Hamlet liikemaailmassa,1987,Pentti Auer,actor,Is?,11.0
...,...,...,...,...,...,...
3519138,Hamlet A.D.D.,2014,Jessica Steeber,actress,Hot chick on dance floor,NaN
3519139,Hamlet A.D.D.,2014,Jessica Steeber,actress,Yeoman,NaN
3519725,Hamlet (II),2007,Hanne Steen,actress,Reynaldo,NaN
3525415,"Hamlet, Prince of Denmark",1997,Pamela (II) Stewart,actress,Horatio,NaN
3526081,Hamlet,2000,Julia Stiles,actress,Ophelia,7.0
3527045,Hamlet_X,2003,Isabelle Stoffel,actress,Ophelia #3,NaN
3530266,Hamlet 2,2008,Cynthia Straus,actress,Hysterical Woman,31.0
3531247,Hamlet in the Hamptons,2002,Virginia Stringel,actress,Katy,NaN
3531523,Hamlet 2,2008,Phoebe Strole,actress,Epiphany Sellers,5.0
3535562,Hamlet,2009,Bernadette Sullivan,actress,Gertrude,2.0
3540477,Hamlet A.D.D.,2014,Sarah Swant,actress,Lady,NaN
3551022,Hamlet A.D.D.,2014,Nikki Tappa,actress,Lady Tappa,NaN
3556059,Hamlet,1964,Carol Teitel,actress,Lady,NaN
3559645,Hamlet_X,2003,Anna Thalbach,actress,Girlfriend #1,NaN
3572638,Hamlet_X,2003,Laura Tonke,actress,Ophelia #4,NaN
3578304,Hamlet A.D.D.,2014,Emily Treolo,actress,Science Officer,NaN
3578835,Hamlet,2017,Veronica Jean Trickett,actress,Marcellus,NaN
3583054,Hamlet,1969,Jennifer Tudor,actress,Court lady,23.0
3588332,Hamlet's Ghost,2015,Helene Udy,actress,Mildred,40.0
3606177,Hamlet,2000,Diane Venora,actress,Gertrude,3.0
3616411,"Hamlet, Son of a Kingpin",2015,Ingrid Vollset,actress,Ophelia,NaN
3630646,Hamlet's Ghost,2015,Dottie Warren,actress,Mrs. Stern,33.0
3636283,Hamlet,1996,Perdita Weeks,actress,Second Player,44.0
3636387,Hamlet_X,2003,Cordelia Wege,actress,Ophelia #6,NaN
3640954,Hamlet,2015,Katie (II) West,actress,Ophelia,7.0
3648729,Hamlet 2,2008,Margarita Wilder,actress,Julia De La Huerta,23.0
3657854,Hamlet,1996,Kate Winslet,actress,Ophelia,46.0
3683535,Hamlet 2,2008,Lydia Zazueta,actress,Audience Member,NaN
3687019,Hamlet's Ghost,2015,Stephanie Zimbalist,actress,Justina Keller,7.0
3687020,Hamlet's Ghost,2015,Stephanie Zimbalist,actress,Queen Gertrude,7.0

### How many people have played an "Ophelia"?

In [216]:
ham3[ham3.character == "Ophelia"].character.count()

28

### How many people have played a role called "The Dude"?

In [220]:
dude = cast[cast.character == "The Dude"]

In [222]:
dude.character.count()

18

### How many people have played a role called "The Stranger"?

In [223]:
stranger = cast[cast.character == "The Stranger"]

In [224]:
stranger.character.count()

212

### How many roles has Sidney Poitier played throughout his career?

In [225]:
cast[cast.name == "Sidney Poitier"]

,title,year,name,type,character,n
1787362,A Patch of Blue,1965,Sidney Poitier,actor,Gordon Ralfe,1.0
1787363,A Piece of the Action,1977,Sidney Poitier,actor,Manny Durrell,1.0
1787364,A Raisin in the Sun,1961,Sidney Poitier,actor,Walter Lee Younger,1.0
1787365,A Warm December,1973,Sidney Poitier,actor,Dr. Matt Younger,1.0
1787366,All the Young Men,1960,Sidney Poitier,actor,Sgt. Eddie Towler,2.0
1787367,Band of Angels,1957,Sidney Poitier,actor,Rau-Ru,3.0
1787368,Blackboard Jungle,1955,Sidney Poitier,actor,Gregory W. Miller,10.0
1787369,Brother John,1971,Sidney Poitier,actor,John Kane,1.0
1787370,Buck and the Preacher,1972,Sidney Poitier,actor,Buck,1.0
1787371,"Cry, the Beloved Country",1951,Sidney Poitier,actor,Reverend Msimangu,3.0
1787372,Duel at Diablo,1966,Sidney Poitier,actor,Toller,2.0
1787373,Edge of the City,1957,Sidney Poitier,actor,Tommy Tyler,2.0
1787374,For Love of Ivy,1968,Sidney Poitier,actor,Jack Parks,1.0
1787375,Go Man Go,1954,Sidney Poitier,actor,Inman Jackson,3.0
1787376,"Good-bye, My Lady",1956,Sidney Poitier,actor,Gates Watson,4.0
1787377,Guess Who's Coming to Dinner,1967,Sidney Poitier,actor,John Prentice,2.0
1787378,In the Heat of the Night,1967,Sidney Poitier,actor,Virgil Tibbs,1.0
1787379,Let's Do It Again,1975,Sidney Poitier,actor,Clyde Williams,1.0
1787380,Lilies of the Field,1963,Sidney Poitier,actor,Homer Smith,1.0
1787381,Little Nikita,1988,Sidney Poitier,actor,Roy Parmenter,1.0
1787382,No Way Out,1950,Sidney Poitier,actor,Dr. Luther Brooks,4.0
1787383,Paris Blues,1961,Sidney Poitier,actor,Eddie Cook,3.0
1787384,Porgy and Bess,1959,Sidney Poitier,actor,Porgy,1.0
1787385,Pressure Point,1962,Sidney Poitier,actor,Doctor,1.0
1787386,Red Ball Express,1952,Sidney Poitier,actor,Robertson,5.0
1787387,Sepia Cinderella,1947,Sidney Poitier,actor,Night Club Extra,NaN
1787388,Shoot to Kill,1988,Sidney Poitier,actor,Warren Stantin,1.0
1787389,Sneakers,1992,Sidney Poitier,actor,Donald Crease,4.0
1787390,Something of Value,1957,Sidney Poitier,actor,Kimani Wa Karanja,13.0
1787391,The Bedford Incident,1965,Sidney Poitier,actor,Ben Munceford,2.0
1787392,The Defiant Ones,1958,Sidney Poitier,actor,Noah Cullen,2.0
1787393,The Greatest Story Ever Told,1965,Sidney Poitier,actor,Simon of Cyrene,21.0
1787394,The Jackal,1997,Sidney Poitier,actor,FBI Deputy Director Carter Preston,3.0
1787395,The Long Ships,1964,Sidney Poitier,actor,Aly Mansuh,2.0
1787396,The Lost Man,1969,Sidney Poitier,actor,Jason Higgs,1.0
1787397,The Mark of the Hawk,1957,Sidney Poitier,actor,Obam,2.0
1787398,The Organization,1971,Sidney Poitier,actor,Virgil Tibbs,1.0
1787399,The Slender Thread,1965,Sidney Poitier,actor,Alan Newell,1.0
1787400,The Wilby Conspiracy,1975,Sidney Poitier,actor,Shack Twala,1.0
1787401,They Call Me Mister Tibbs!,1970,Sidney Poitier,actor,Virgil Tibbs,1.0
1787402,"To Sir, with Love",1967,Sidney Poitier,actor,Mark Thackeray,1.0
1787403,Uptown Saturday Night,1974,Sidney Poitier,actor,Steve Jackson,1.0
1787404,Virgin Island,1958,Sidney Poitier,actor,Marcus,3.0

In [226]:
sidney = cast[cast.name == "Sidney Poitier"]

In [227]:
sidney.character.count()

43

### How many roles has Judi Dench played?

In [228]:
judi = cast[cast.name == 'Judi Dench']

In [229]:
judi.character.count()

54

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [239]:
cary = cast[(cast.name == "Cary Grant") & ((cast.year >= 1940) & (cast.year <= 1949)) & (cast.n > 1) ]

In [240]:
cary.sort_values(['year','n'])

                   title  year        name   type    character    n
857926  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
857936    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [241]:
carylead = cast[(cast.name == "Cary Grant") & ((cast.year >= 1940) & (cast.year <= 1949)) & (cast.n == 1)]

In [242]:
carylead.sort_values("year")

,title,year,name,type,character,n
857951,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
857908,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
857953,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
857941,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
857955,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
857932,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
857899,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
857924,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
857925,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
857933,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
857891,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
857928,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
857927,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
857930,Notorious,1946,Cary Grant,actor,Devlin,1.0
857947,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
857948,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
857923,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
857903,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
857912,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [259]:
actor = cast[(cast.year >= 1950) & (cast.year <= 1959) & (cast.type == "actor")]

In [261]:
actor.type.count()

156211

### How many roles were avilable for actresses in the 1950s?

In [262]:
actress = cast[(cast.year >= 1950) & (cast.year <= 1959) & (cast.type == "actress")]

In [263]:
actress.type.count()

56828

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [266]:
leadsbefore1980 = cast[(cast.year <= 1980) & (cast.n == 1)]

In [268]:
leadsbefore1980.n.count()

64457

### How many non-leading roles were available through from the beginning of film history through 1980?

In [269]:
nonleadsbefore1980 = cast[(cast.year <= 1980) & (cast.n != 1)]

In [271]:
nonleadsbefore1980.n.count()

661939

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [275]:
nanbefore1980 = cast[(cast.year <= 1980) & (cast.n.isnull())]

In [279]:
nanbefore1980.character.count()

442023